#checkin-admin
{
    @import "less/bootstrap.less";

    width: 90%;
    margin-right: auto;
    margin-left: auto;

    .lead{
        font-size: 14px !important;
        color: #555555;
    }

    h2
    {
        color: #ffffff;
        background-color: #555555;
        text-shadow: #999999 0 1px 0;
        border-radius: 5px;
        height: 100px;
        line-height: 100px;
        padding-left: 30px;
        margin-left: -3%;
        margin-right: -3%;
    }

    #settings
    {
        margin: 10px;
        h3
        {
            margin-left: -10px;
            margin-right: -10px;
            padding: 10px;
        }
    }

    input
    {
        height: auto !important;
    }

    h3
    {
        margin-bottom: 1em;
        padding: 10px 0;
        border-bottom: 1px solid #dedede;
    }

    h4
    {
        &.slider-label
        {
            border-bottom: 3px double #dedede;
            padding-bottom: 10px;
        }
    }

    h5
    {
        margin-top: 2em;
    }

    .cover-preview
    {
        img
        {
            max-width: 300px;
            max-height: 300px;
            border: 1px solid #cccccc;
        }
    }

    .control-group
    {
        label
        {
            font-weight: bolder;
        }

        .controls
        {
            margin-left: 20px;
        }
    }
}

#shadow
{
    position: absolute;
    top: 0px;
    left: 0px;
    background-image: url(../img/alpha.png);
}

